
.wrapper {
    background-color: white;
    z-index: -2;
}

/* #hero-slider-top {
    
} */

.newsletter-outer-wrapper {
    z-index: -2;
}

/* @media (max-width: 768px) {
    #hero-slider-top {
        width: 100vw;
        
    }
} */





/* #rooms-gallery-banners {
    background-color: white !important;
}

#testimonial {
    background-color: white !important;
} */


.landing-img {
    max-width: 70%;
}

#landing-logo {
    top: 40vh;
    /* height: 95rem; */
    height: 109vh;
    text-align: center;
    position: relative;
    z-index: -1;
    /* overflow: auto; */
}

@media (max-width: 768px) {
    #landing-logo {
        height: 90vh;
        
    }
}

#landing-bg {
    background-image: url("landing-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 44vh;
    background-size: cover;
    position: fixed;
    top: -45vh;
    width: 100vw;
    height: 100vw;
    z-index: -2;
    /* opacity: .75; */
}

@media (min-width: 1024px) {
    #landing-bg {
        background-size: contain;
        overflow-y: hidden;
        
    }
}

@media (max-width: 768px) {
    #landing-bg {
        min-height: 140vh;
       

        
    }
}

#transform-test {
    transform: translate3d(10px, 20px, 0);
}

#topnav {
    background-color: white;
    overflow: hidden;
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
}

#topnav a:hover {
    background-color: #ddd;
    color: black;
}

#topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#readout {
    /* background-color: white; */
    position: fixed;
    /* z-index: 100; */
    bottom: 0;
    right: 0;
    /* width: 200px; */
    /* height: 50px; */
}


.Navbar_Wrapper {
    min-width: 100vw;
    background-color: white;
    /* z-index: 1; */
    /* box-shadow: 0px 0.7px 0px 0px rgba(0, 0, 0, 0.2); */
}

.Navbar {
    /* background-color: #4CAF50; */
    background-color: white;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: black;
    /* min-width: 66.09vw; */
    min-width: 100vw;
    /* margin-left: 17vw; */
    
  }

  #Navbar_Image {
  padding-top: 10px;   
  margin-bottom: 0px;
  padding-bottom: 0px; 
  max-block-size: 3.5rem;
  margin-left: 29.5rem;
  }

  .Navbar__Link {
    padding-right: 15px;
    
  }
  .Navbar__Items {
    display: flex;
    margin-left: 28rem;

  }
  .Navbar__Items--right {
    margin-left:40vw;
  }
  .Navbar__Link-toggle {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .Navbar {
        background-color:white;
        max-width: 60vw
        /* min-width: 34rem; */
        /* margin-left: 1rem; */
    }
    #Navbar_Image {
        padding-top: 10px;   
        margin-bottom: 0px;
        padding-bottom: 0px; 
        max-block-size: 4rem;
        margin-left: 1rem;
    }
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
  .Navbar__Items {
      display:none;
      margin-left:0;
    }
  .Navbar__Items--right {
      margin-left:0rem;
    }
  .Navbar__ToggleShow {
      display: flex;
    }
  .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 
  }