
.wrapper {
    background-color: white;
    z-index: -2;
}

/* #hero-slider-top {
    
} */

.newsletter-outer-wrapper {
    z-index: -2;
}

/* @media (max-width: 768px) {
    #hero-slider-top {
        width: 100vw;
        
    }
} */





/* #rooms-gallery-banners {
    background-color: white !important;
}

#testimonial {
    background-color: white !important;
} */


.landing-img {
    max-width: 70%;
}

#landing-logo {
    top: 40vh;
    /* height: 95rem; */
    height: 105vh;
    text-align: center;
    position: relative;
    z-index: -1;
    /* overflow: auto; */
}

@media (max-width: 768px) {
    #landing-logo {
        height: 105vh;
        
    }
}

#landing-bg {
    background-image: url("landing-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 44vh;
    background-size: cover;
    position: fixed;
    top: -45vh;
    width: 100vw;
    height: 100vw;
    z-index: -2;
}

@media (min-width: 1024px) {
    #landing-bg {
        background-size: contain;
        overflow-y: hidden;
        
    }
}

@media (max-width: 768px) {
    #landing-bg {
        min-height: 145vh;
       

        
    }
}

#transform-test {
    transform: translate3d(10px, 20px, 0);
}

.Navbar_Wrapper {
    min-width: 100vw;
    background-color: white;
    /* z-index: 1; */
    /* box-shadow: 0px 0.7px 0px 0px rgba(0, 0, 0, 0.2); */
}

.Navbar {
    /* background-color: #4CAF50; */
    background-color: white;
    display: flex;
    padding-top: .3rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem; 
    font-family: sans-serif;
    color: black;
    /* min-width: 66.09vw; */
    min-width: 100vw;
    /* margin-left: 17vw; */
    
  }

  .Navbar_Image {
  padding-top: 10px;   
  margin-bottom: 0px;
  padding-bottom: 0px; 
  max-block-size: 4.6rem;
  /* max-block-size: 3.5rem; */
  margin-left: 15.5rem;
  /* -webkit-animation-name: example;
  -webkit-animation-duration: 4s;  */
  }

  .Navbar_Image_Fade {
      max-block-size: 3.8rem;
  }

  /* @keyframes example {
  from {max-block-size:4.6rem;}
  to {max-block-size: 3.5rem;}
} */

  .Navbar__Link {
    padding-right: 15px;
  }
  .Navbar__Items {
    display: flex;
    margin-left: 14rem;
    font-family: PT sans,sans-serif;
    font-size: 1.5rem;
  }

  .Navbar__Items--right {
    margin-left:35vw;
  }
  .Navbar__Link-toggle {
    display: none;
  }

  

  @media only screen and (max-width: 768px) {
    .Navbar_Wrapper {
        padding-bottom: 1.5rem;
       
    }  
    .Navbar {
        background-color:white;
        max-width: 60vw;
        /* min-width: 34rem; */
        /* margin-left: 1rem; */
    }
    .Navbar_Image {
        padding-top: 10px;   
        margin-bottom: 0px;
        padding-bottom: 0px; 
        max-block-size: 4rem;
        margin-left: 1rem;
    }
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
  .Navbar__Items {
      display:none;
      margin-left:0;
    }
  .Navbar__Items--right {
      margin-left:0rem;
    }
  .Navbar__ToggleShow {
      display: flex;
    }
  .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
      box-shadow: 0px 0.7px 0px 0px rgba(0, 0, 0, 0.2);
     } 
  }

  @media only screen and (min-width: 1600px) {
    .Navbar_Image {
        margin-left: 29.5rem;
        }
        .Navbar__Items {
            margin-left: 28rem;
        }
  }